@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    font-family: "Open Sans", sans-serif;
}

.rounded-b {
    border-radius: 5px;
}

.legend {
    width: 28px;
    height: 28px;
    border-radius: 2px;
    margin: 2px;
}

.legend-start {
    background-color: #f81245;
}

.legend-finish {
    background-color: #12f893;
}

.legend-visited {
    background-color: #2a80fa;
}

.legend-shortest-path {
    background-color: yellow;
}

.legend-wall {
    background-color: #e5e8e8;
}

.legend-path {
    background-color: #85929e;
}

.legend-label {
    margin: 3.5px;
}
